![](https://www.dii.uchile.cl/wp-content/uploads/2021/06/Magi%CC%81ster-en-Ciencia-de-Datos.png)

# **Proyecto 1 - MDS7202 Laboratorio de Programaci√≥n Cient√≠fica para Ciencia de Datos üìö**

**MDS7202: Laboratorio de Programaci√≥n Cient√≠fica para Ciencia de Datos**

### Cuerpo Docente:

- Profesor: Ignacio Meza, Gabriel Iturra
- Auxiliar: Sebasti√°n Tinoco
- Ayudante: Arturo Lazcano, Angelo Mu√±oz

*Por favor, lean detalladamente las instrucciones de la tarea antes de empezar a escribir.*

### Equipo:

- Israel Rodr√≠guez
- Benjam√≠n Torrealba    


### Link de repositorio de GitHub: https://github.com/BnjmnNicholas/MDS7202-2023-2

Fecha l√≠mite de entrega üìÜ: 27 de Octubre de 2023.

----

## Reglas

- **Grupos de 2 personas.**
- Cualquier duda fuera del horario de clases al foro. Mensajes al equipo docente ser√°n respondidos por este medio.
- Estrictamente prohibida la copia. 
- Pueden usar cualquier material del curso que estimen conveniente.

<div style="text-align: center;">
    <img src="https://worldskateamerica.org/wp-content/uploads/2023/07/SANTIAGO-2023-1-768x153.jpg" alt="Descripci√≥n de la imagen">
</div>

En un Chile azotado por un profundo caos pol√≠tico-econ√≥mico y el resurgimiento de programas de televisi√≥n de dudosa calidad, todas las miradas y esperanzas son depositadas en el √©xito de un √∫nico evento: Santiago 2023. La naci√≥n necesitaba desesperadamente un respiro, y los Juegos de Santiago 2023 promet√≠an ser una luz al final del t√∫nel.

El Presidente de la Rep√∫blica -conocido en las calles como Bomb√≠n-, consciente de la importancia de este evento para la revitalizaci√≥n del pa√≠s, decide convocar a usted y su equipo en calidad de expertos en an√°lisis de datos y estad√≠sticas. Con gran solemnidad, el presidente les encomienda una importante y peligrosa: liderar un proyecto que permitiera caracterizar de forma autom√°tica y eficiente los datos generados por estos magnos juegos. Para esto, el presidente le destaca que la soluci√≥n debe considerar los siguientes puntos:
- Caracterizaci√≥n autom√°tica de los datos
- La soluci√≥n debe ser compatible con cualquier dataset
- Se les facilita el dataset *olimpiadas.parquet*, el cual recopila data de diferentes juegos ol√≠mpicos realizados en los √∫ltimos a√±os

## 1.1 Creaci√≥n de `Profiler` Class (4.0 puntos)

Cree la clase `Profiler`. Como m√≠nimo, esta debe tener las siguientes funcionalidades:

1. El m√©todo constructor, el cual debe recibir los datos a procesar en formato `Pandas DataFrame`. Adem√°s, este m√©todo debe generar una carpeta en su directorio de trabajo con el nombre `EDA_fecha`, donde `fecha` corresponda a la fecha de ejecuci√≥n en formato `DD-MM-YYYY`.

2. El m√©todo `summarize`, el cual debe caracterizar las variables del Dataset. Como m√≠nimo, se espera que su m√©todo pueda:
    - Implementar una funcionalidad para filtrar y aplicar este m√©todo a una o m√°s variables de inter√©s.
    - Reportar el tipo de variable
    - Reportar el n√∫mero y/o porcentaje de valores √∫nicos de la variable
    - Reportar el n√∫mero y/o porcentaje de valores nulos
    - Si la variables es num√©rica:
        - Reportar el n√∫mero y/o porcentaje de valores cero, negativos y outliers
        - Reportar estad√≠stica descriptiva como el valor m√≠nimo, m√°ximo, promedio y los percentiles 25, 50, 75 y 100
   - Levantar una alerta en caso de encontrar alguna anomal√≠a fuera de lo com√∫n (el criterio debe ser ajustable por el usuario)
   - Guardar sus resultados en el directorio `EDA_fecha/summary.txt`. El archivo debe separar de forma clara y ordenada los resultados de cada punto.

3. El m√©todo `plot_vars`, el cual debe graficar la distribuci√≥n e interraciones de las variables del Dataset. Como m√≠nimo, se espera que su m√©todo pueda:
    - Crear la carpeta `EDA_fecha/plots`
    - Implementar una funcionalidad para filtrar y aplicar este m√©todo a una o m√°s variables de inter√©s.
    - Para las variables num√©ricas:
        - Genere un gr√°fico de distribuci√≥n de densidad
        - Grafique la correlaci√≥n entre las variables
    - Para las variables categ√≥ricas:
        - Genere un histograma de las top N categor√≠as (N debe ser un par√°metro ajustable)
        - Grafique el coeficiente V de Cramer entre las variables
    - Guardar cada gr√°fico generado en la carpeta `EDA_fecha/plots` en formato `.pdf` y bajo el naming `variable.pdf`, donde `variable` es el nombre de la variable de inter√©s
    
4. El m√©todo `clean_data`, el cual debe limpiar los datos para que luego puedan ser procesados. Como m√≠nimo, se espera que su m√©todo pueda:
    - Crear la carpeta `EDA_fecha/clean_data`
    - Implementar una funcionalidad para filtrar y aplicar este m√©todo a una o m√°s variables de inter√©s.
    - Drop de valores duplicados
    - Implementar como m√≠nimo 2 t√©cnicas para tratar los valores nulos, como:
        - Drop de valores nulos
        - Imputar valores nulos con alguna t√©cnica de imputaci√≥n
        - Funcionalidad para escoger entre una t√©cnica y la otra.
    - Una de las columnas del dataframe presenta datos *no at√≥micos*. Separe dicha columna en las columnas que la compongan.
        - Hint: ¬øQu√© caracteres permiten separar una columna de otra?
        - Para las pruebas con el dataset nuevo, puede esperar que exista al menos una columna con este tipo de problema. Asuma que los separadores ser√°n los mismos, aunque el n√∫mero de columnas a separar puede ser distinto.
    - Deber√≠an usar `FunctionTransformer`.
    - Guardar los datos procesados en formato `.csv` en el path `EDA_fecha/clean_data/data.csv`

5. El m√©todo `scale`, el cual debe preparar adecuadamente los datos para luego ser consumidos por alg√∫n tipo de algoritmo. Como m√≠nimo, se espera que su m√©todo pueda:
    - Crear la carpeta `EDA_fecha/scale`
    - Procesar de forma adecuada los datos num√©ricos y categ√≥ricos:
        - Su m√©todo debe recibir las t√©cnicas de escalamiento como argumento de entrada (utilizar solo t√©cnicas compatibles con el framework de `sklearn`)
        - Para los atributos num√©ricos, se transforme los datos con un escalador logar√≠tmico y un `MinMaxScaler`
        - Asuma que no existen datos ordinales en su dataset
    - Guardar todo este procesamiento en un `ColumnTransformer`.
    - Guardar los datos limpios y transformados en formato `.csv` en el path `EDA_fecha/process/scaled_features.csv`

6. El m√©todo `make_clusters`, el cual debe generar clusters de los datos usando alg√∫n algoritmo de clusterizaci√≥n. Como m√≠nimo, se espera que su m√©todo pueda:
    - Crear la carpeta `EDA_fecha/clusters`
    - Generar un estudio del codo donde se√±ale la cantidad de clusters optimos para el desarrollo.
    - Su m√©todo debe recibir el algoritmo de clustering como argumento de entrada (utilizar solo algoritmos compatibles con el framework de `sklearn`).
    - No olvide pre procesar adecuadamente los datos antes de implementar la t√©cnica de clustering. 
    - En este punto es espera que generen un `Pipeline` de sklearn. Adem√°s, su m√©todo deber√≠a usar lo construido en los puntos 4 y 5. 
    - Su m√©todo debe ser capaz de funcionar a partir de datos crudos (se descontar√° puntaje de lo contrario).
    - Una vez generado los clusters, proyecte los datos a 2 dimensiones usando su t√©cnica de reducci√≥n de dimensionalidad favorita y grafique los resultados coloreando por cluster.
    - Guardar los datos con su respectivo cluster en formato `.csv` en el path `EDA_fecha/clusters/data_clusters.csv`. Guarde tambi√©n los gr√°ficos generados en el mismo path.

7. El m√©todo `detect_anomalies`, el cual debe detectar anomal√≠as en los datos. Como m√≠nimo, se espera que su m√©todo pueda:

    - Crear la carpeta `EDA_fecha/anomalies`
    - Implementar alguna t√©cnica de detecci√≥n de anomal√≠as.
    - Al igual que el punto anterior, su m√©todo debe considerar los siguientes puntos:
        - No olvide pre procesar de forma adecuada los datos antes de implementar la t√©cnica de detecci√≥n de anomal√≠a. 
        - En este punto es espera que generen un `Pipeline` de sklearn. Adem√°s, su m√©todo deber√≠a usar lo construido en los puntos 4 y 5. 
        - Su m√©todo debe ser capaz de funcionar a partir de datos crudos (se descontar√° puntaje de lo contrario).
        - Su m√©todo debe recibir el algoritmo como argumento de entrada
        - Una vez generado las etiquetas, proyecte los datos a 2 dimensiones y grafique los resultados coloreando por las etiquetas predichas por el detector de anomal√≠as
    - Guardar los datos con su respectiva etiqueta en formato `.csv` en el path `EDA_fecha/anomalies/data_anomalies.csv`. Guarde tambi√©n los gr√°ficos generados en el mismo path.

8. El m√©todo `profile`, el cual debe ejecutar todos los m√©todos anteriores.

9. Crear el m√©todo `clearGarbage` para eliminar las carpetas/archivos creados/as por la clase `Profiler`.

Algunas consideraciones generales:
- Su clase ser√° testeada con datos tabulares diferentes a los provistos. No desarrollen c√≥digo *hardcodeado*: su clase debe ser capaz de funcionar para **cualquier** dataset. 
- Aplique todo su conocimiento sobre buenas pr√°cticas de programaci√≥n: se evaluar√° que su c√≥digo sea limpio y ordenado.
- Recuerden documentar cada una de las funcionalidades que implementen.
- Recuerden adjuntar sus `requirements.txt` junto a su entrega de proyecto. **El c√≥digo que no se pueda ejecutar por imcompatibilidades de librer√≠as no ser√° corregido.**

**Comentarios video: (borrar dsps)**

In [8]:
import os
import datetime

path = os.getcwd()
date = datetime.datetime.now().strftime("%d-%m-%Y")
#os.mkdir(path+ '\EDA_' +date)
path = os.path.join(path+ '\EDA_' +date)
print(path)

b:\GITPROJECTS\LAB MDS\MDS7202-2023-2\PROY 1\EDA_30-10-2023

In [9]:
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as ss
import numpy as np

In [10]:
import pandas as pd

dataset = pd.read_parquet('olimpiadas.parquet')

In [11]:
dataset

,ID,Name,Sex,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,age-height-weight
0,1,A Dijiang,M,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,None,24.0*180.0?80.0
1,2,A Lamusi,M,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,None,23.0(170.0?60.0
2,3,Gunnar Nielsen Aaby,M,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,None,24.0(nan?nan
3,4,Edgar Lindenau Aabye,M,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,34.0:nan?nan
4,5,Christine Jacoba Aaftink,F,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,None,21.0(185.0?82.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,None,29.0:179.0?89.0
271112,135570,Piotr ya,M,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",None,27.0:176.0?59.0
271113,135570,Piotr ya,M,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",None,27.0*176.0?59.0
271114,135571,Tomasz Ireneusz ya,M,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,None,30.0(185.0?96.0
271115,135571,Tomasz Ireneusz ya,M,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,None,34.0(185.0?96.0

In [12]:
dataset.dtypes

ID                    int64
Name                 object
Sex                  object
Team                 object
NOC                  object
Games                object
Year                  int64
Season               object
City                 object
Sport                object
Event                object
Medal                object
age-height-weight    object
dtype: object

In [25]:
# for sobre columnas numericas
for col in dataset.select_dtypes(include=['number']):
    
    print('Columna: ', col)
    # reportamos el porcentaje de nulos, negativos y outliers
    print('Porcentaje de nulos: ', dataset[col].isnull().sum()/len(dataset[col]))
    print('Porcentaje de negativos: ', np.sum(dataset[col]<0)/len(dataset[col]))
    print('Porcentaje de outliers: ', np.sum(np.abs(ss.zscore(dataset[col].dropna()))>3)/len(dataset[col]))
    
    # reportamos estadisticas: valor minimo, maximo, promedio, percentiles 25, 50 y 75 y 100
    print('Minimo: ', dataset[col].min())
    print('Maximo: ', dataset[col].max())
    print('Promedio: ', dataset[col].mean())
    print('Percentil 25: ', dataset[col].quantile(0.25))
    print('Percentil 50: ', dataset[col].quantile(0.5))
    print('Percentil 75: ', dataset[col].quantile(0.75))
    print('Percentil 100: ', dataset[col].quantile(1))
    
    # salto de linea
    print('\n')

Columna:  ID
Porcentaje de nulos:  0.0
Porcentaje de negativos:  0.0
Porcentaje de outliers:  0.0
Minimo:  1
Maximo:  135571
Promedio:  68248.95439590434
Percentil 25:  34643.0
Percentil 50:  68205.0
Percentil 75:  102097.25
Percentil 100:  135571.0


Columna:  Year
Porcentaje de nulos:  0.0
Porcentaje de negativos:  0.0
Porcentaje de outliers:  0.0
Minimo:  1896
Maximo:  2016
Promedio:  1978.3784800601957
Percentil 25:  1960.0
Percentil 50:  1988.0
Percentil 75:  2002.0
Percentil 100:  2016.0

In [60]:
class Profiler:
    def __init__(self, dataset):
        # Inicializar el profiler
        self.path = os.getcwd()
        self.date = datetime.datetime.now().strftime("%d-%m-%Y")
        new_folder = os.path.join(self.path, f"EDA_{self.date}")
        os.makedirs(new_folder, exist_ok=True)
        self.path = new_folder
        self.dataset = dataset
        self.dataset_variables = None # Se inicializa en el m√©todo summarize

    def summarize(self, variables=None):
        """
        Este m√©todo se encarga de caracterizar las variables del dataset.
        
        Args:
            variables (list): Lista con las variables del dataset.
            En caso de que no se especifique, se toman todas las variables del dataset.
        
        Returns:
            Archivo summary.txt con la caracterizaci√≥n de las variables. Se almacena
            en la carpeta que se crea en el constructor.
        """
        if variables is None:
            variables = self.dataset.columns
        
        self.dataset_variables = self.dataset[variables]
        
        # Se crea el archivo summary.txt
        with open(os.path.join(self.path, "summary.txt"), "w") as summary:
            # Se reporta el tipo de las variables
            summary.write("Tipo de las variables:\n")
            summary.write(str(self.dataset_variables.dtypes))
            summary.write("\n\n")
            
            # Se reporta el porcentaje de valores √∫nicos por variable
            summary.write("Porcentaje de valores √∫nicos por variable:\n")
            summary.write(str(self.dataset_variables.nunique() / len(self.dataset_variables) * 100))
            summary.write("\n\n")
            
            # Se reporta el porcentaje de valores nulos por variable
            summary.write("Porcentaje de valores nulos por variable:\n")
            summary.write(str(self.dataset_variables.isnull().sum() / len(self.dataset_variables) * 100))
            summary.write("\n\n")
            
            # En caso de ser variable num√©rica, se reporta la media, mediana, desviaci√≥n est√°ndar, m√≠nimo y m√°ximo
            # percentiles 25, 50, 75 y 100, adem√°s los porcentajes de valores cero, negativos y outliers.
            # En caso de encontrar anomal√≠as, se reporta en un archivo de texto.
            

            
        
# Ejemplo de uso
# dataset = ...  # tu dataset
# profiler = Profiler(dataset)
# profiler.summarize()

        # Se reporta el porcentaje de valores √∫nicos por va
    
    def plot_vars(self, variables=None):
        """
        Este m√©todo se encarga de graficar la distribuci√≥n e interacciones de las variables del dataset.

        Args:
            variables (list): Lista con las variables del dataset.
            En caso de que no se especifique, se toman todas las variables del dataset.
        
        Returns:
            Carpeta plots con los gr√°ficos de las variables. Se almacena
            en la carpeta que se crea en el constructor.
        """
        # Se crea la carpeta plots
        os.makedirs(os.path.join(self.path, "plots"), exist_ok=True)

        if variables is None:
            variables = self.dataset.columns
        
        self.dataset_variables = self.dataset[variables]

        numerical_columns = self.dataset_variables.select_dtypes(include="number").columns
        categorical_columns = self.dataset_variables.select_dtypes(include="object").columns
        
        # Se grafica la distribuci√≥n de densidad de las variables num√©ricas
        for variable in numerical_columns:
            plt.figure(figsize=(10, 10))
            self.dataset_variables[variable].plot(kind="density")
            plt.savefig(os.path.join(self.path, "plots", f"{variable}.pdf"), bbox_inches='tight')
            plt.close()
        
        # Se grafica la correlaci√≥n entre las variables num√©ricas
        plt.figure(figsize=(10, 10))
        sns.heatmap(self.dataset_variables.select_dtypes(include="number").corr(), annot=True)
        plt.savefig(os.path.join(self.path, "plots", "correlation.pdf"), bbox_inches='tight')
        plt.close()
        
        # Se grafica el histograma de las top 10 categor√≠as de las variables categ√≥ricas
        for variable in categorical_columns:
            plt.figure(figsize=(10, 10))
            self.dataset_variables[variable].value_counts().head(10).plot(kind="bar")
            plt.savefig(os.path.join(self.path, "plots", f"{variable}.pdf"), bbox_inches='tight')
            plt.close()
        
        # Se grafica el coeficiente V de Cramer entre las variables categ√≥ricas
        num_cols = len(categorical_columns)
        cramer_matrix = np.zeros((num_cols, num_cols))
        for i, col1 in enumerate(categorical_columns):
            for j, col2 in enumerate(categorical_columns):
                if i!=j:
                    try:
                        result_cramer_v = self.cramer_v(self.dataset_variables[col1], self.dataset_variables[col2])
                        
                        # Almacena el valor en la matriz
                        cramer_matrix[i, j] = result_cramer_v
                    except:
                        # En caso de error, se almacena un cero
                        cramer_matrix[i, j] = 0
                        print(f"Error al calcular el coeficiente V de Cramer entre {col1} y {col2}")
                
                else:
                    cramer_matrix[i, j] = 1

        sns.heatmap(cramer_matrix, annot=True)
        plt.savefig(os.path.join(self.path, "plots", "cramer_v.pdf"), bbox_inches='tight')
        plt.close()
    
    def cramer_v(self, x, y):
        confusion_matrix = pd.crosstab(x,y)
        chi2 = ss.chi2_contingency(confusion_matrix)[0]
        n = confusion_matrix.sum().sum()
        phi2 = chi2/n
        r,k = confusion_matrix.shape
        phi2corr = max(0, phi2-((k-1)*(r-1))/(n-1))
        rcorr = r-((r-1)**2)/(n-1)
        kcorr = k-((k-1)**2)/(n-1)
        return np.sqrt(phi2corr/min((kcorr-1),(rcorr-1)))

In [11]:
def cramer_v(x, y):
    confusion_matrix = pd.crosstab(x,y)
    chi2 = ss.chi2_contingency(confusion_matrix)[0]
    n = confusion_matrix.sum().sum()
    phi2 = chi2/n
    r,k = confusion_matrix.shape
    phi2corr = max(0, phi2-((k-1)*(r-1))/(n-1))
    rcorr = r-((r-1)**2)/(n-1)
    kcorr = k-((k-1)**2)/(n-1)
    return np.sqrt(phi2corr/min((kcorr-1),(rcorr-1)))

In [59]:
pd.crosstab(dataset["Sex"],dataset["age-height-weight"])

age-height-weight,10.0?nan?nan,11.0(152.0?nan,11.0(155.0?45.0,11.0(157.0?nan,11.0(158.0?50.0,11.0(nan?nan,11.0*158.0?50.0,11.0:nan?nan,11.0?151.0?38.0,11.0?158.0?50.0,...,nan?nan?72.0,nan?nan?74.0,nan?nan?75.0,nan?nan?81.0,nan?nan?86.0,nan?nan?90.0,nan?nan?96.0,nan?nan?97.0,nan?nan?99.0,nan?nan?nan
Sex,,,,,,,,,,,,,,,,,,,,,
F,0,1,1,1,2,1,1,0,1,1,...,0,0,0,0,0,0,0,0,0,101
M,1,0,0,0,0,0,0,1,0,0,...,3,4,1,1,3,1,2,1,1,2009

In [9]:
dataset.describe()

                  ID           Year
count  271116.000000  271116.000000
mean    68248.954396    1978.378480
std     39022.286345      29.877632
min         1.000000    1896.000000
25%     34643.000000    1960.000000
50%     68205.000000    1988.000000
75%    102097.250000    2002.000000
max    135571.000000    2016.000000

In [61]:
profiler_class = Profiler(dataset=dataset)
profiler_class.summarize(variables=['Year'])

In [62]:
profiler_class.plot_vars()

e:\Python\Lib\site-packages\pandas\core\reshape\reshape.py:126: RuntimeWarning: overflow encountered in scalar multiply
  num_cells = num_rows * num_columns

Error al calcular el coeficiente V de Cramer entre Name y age-height-weight

In [12]:
profiler_class.dataset.select_dtypes(include="object")

,Name,Sex,Team,NOC,Games,Season,City,Sport,Event,Medal,age-height-weight
0,A Dijiang,M,China,CHN,1992 Summer,Summer,Barcelona,Basketball,Basketball Men's Basketball,None,24.0*180.0?80.0
1,A Lamusi,M,China,CHN,2012 Summer,Summer,London,Judo,Judo Men's Extra-Lightweight,None,23.0(170.0?60.0
2,Gunnar Nielsen Aaby,M,Denmark,DEN,1920 Summer,Summer,Antwerpen,Football,Football Men's Football,None,24.0(nan?nan
3,Edgar Lindenau Aabye,M,Denmark/Sweden,DEN,1900 Summer,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,34.0:nan?nan
4,Christine Jacoba Aaftink,F,Netherlands,NED,1988 Winter,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,None,21.0(185.0?82.0
...,...,...,...,...,...,...,...,...,...,...,...
271111,Andrzej ya,M,Poland-1,POL,1976 Winter,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,None,29.0:179.0?89.0
271112,Piotr ya,M,Poland,POL,2014 Winter,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",None,27.0:176.0?59.0
271113,Piotr ya,M,Poland,POL,2014 Winter,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",None,27.0*176.0?59.0
271114,Tomasz Ireneusz ya,M,Poland,POL,1998 Winter,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,None,30.0(185.0?96.0
271115,Tomasz Ireneusz ya,M,Poland,POL,2002 Winter,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,None,34.0(185.0?96.0

## 1.2 Caracterizar datos de Olimpiadas (2.0 puntos)

A partir de la clase que hemos desarrollado previamente, procederemos a realizar un an√°lisis exhaustivo de los datos proporcionados en el enunciado. Este an√°lisis se presentar√° en forma de un informe contenido en el mismo Jupyter Notebook y abordar√° los siguientes puntos:

1. Introducci√≥n
    - Se proporcionar√° una breve descripci√≥n del problema que estamos abordando y se explicar√° la metodolog√≠a que se seguir√°.

Elaborar una breve introducci√≥n con todo lo necesario para entender qu√© realizar√°n durante su proyecto. La idea es que describan de manera formal el proyecto con sus propias palabras y logren describir algunos aspectos b√°sicos tanto del dataset como del an√°lisis a realizar sobre los datos.

Por lo anterior, en esta secci√≥n ustedes deber√°n ser capaces de:

- Describir la tarea asociada al dataset.
- Describir brevemente los datos de entrada que les provee el problema.
- Plantear hip√≥tesis de c√≥mo podr√≠an abordar el problema.

2. An√°lisis del EDA (An√°lisis Exploratorio de Datos)
    - Se discutir√°n las observaciones y conclusiones obtenidas acerca de los datos proporcionados. A lo largo de su respuesta, debe responder preguntas como:
        - ¬øComo se comportan las variables num√©ricas? ¬øy las categ√≥ricas?
        - ¬øExisten valores nulos en el dataset? ¬øEn qu√© columnas? ¬øCuantos?
        - ¬øCu√°les son las categor√≠as y frecuencias de las variables categ√≥ricas?
        - ¬øExisten datos duplicados en el conjunto?
        - ¬øExisten relaciones o patrones visuales entre las variables?
        - ¬øExisten anomal√≠as notables o preocupantes en los datos?
3. Creaci√≥n de Clusters y Anomal√≠as
    - Se justificar√° la elecci√≥n de los algoritmos a utilizar y sus hiperpar√°metros. En el caso de clustering, justifique adem√°s el n√∫mero de clusters.
    
4. An√°lisis de Resultados
    - Se examinar√°n los resultados obtenidos a partir de los cl√∫sters y anomal√≠as generadas. ¬øSe logra una separaci√≥n efectiva de los datos? Entregue una interpretaci√≥n de lo que representa cada cl√∫ster y anomal√≠a.
5. Conclusi√≥n
    - Se resumir√°n las principales conclusiones del an√°lisis y se destacar√°n las implicaciones pr√°cticas de los resultados obtenidos.